---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

{% include base_path %}


{% for post in site.Research %}
  {% include archive-single.html %}
{% endfor %}


<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
		<tbody>
            <tr>
            <td style="padding:10px;width:100%;vertical-align:middle">
              <heading><strong><font color="#c23b3b" size="4">Object Detection and Segmentation</font></strong></heading>
            </td>
          </tr>
        </tbody>
		</table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
		<tbody>
        <tr>
            <td style="padding:20px;width:35%;vertical-align:top">
                <img src='../images/SythCP.png' width="250">
				<img src='../images/ZhishuaiDESCVPR18.png' width="250">	
            </td>
            <td width="75%" valign="middle">
                <p>
                <font size="2">Yingda Xia, Yi Zhang, Fengze Liu,<strong>Wei Shen</strong>, Alan Yuille. Synthesize then Compare: Detecting Failures and Anomalies for Semantic Segmentation. <strong><font color="#2a2a2a">European Conference on Computer Vision (ECCV)</font></strong>, Glasgow, UK, 2020 <strong><font color="#c23b3b">[Oral]</font></strong><font color="#2a2a2a">.</font><strong><font color="#2a2a2a"><a href="https://arxiv.org/abs/2003.08440" target="_blank"><font size="2">(PDF)</font></a></font><br /><br />
                </p>
            </td>
        </tr> <!--li2020shapetexture-->



	
</html>
