---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

{% include base_path %}


{% for post in site.Research %}
  {% include archive-single.html %}
{% endfor %}


<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
		<tbody>
            <tr>
            <td style="padding:10px;width:100%;vertical-align:middle">
              <heading><strong><font color="#c23b3b" size="4">Object Detection and Segmentation</font></strong></heading>
            </td>
          </tr>
        </tbody>
		</table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
		<tbody>
        <tr>
            <td style="padding:20px;width:35%;vertical-align:top">
                <img src='../images/SythCP.png' alt="Picture" style="width:auto;max-width:100%">
				<img src='../images/ZhishuaiDESCVPR18.png' alt="Picture" style="width:auto;max-width:100%">	
            </td>
            <td width="75%" valign="middle">
                <p>
                <font size="2">Yingda Xia, Yi Zhang, Fengze Liu,<strong>Wei Shen</strong>, Alan Yuille. Synthesize then Compare: Detecting Failures and Anomalies for Semantic Segmentation. <strong><font color="#2a2a2a">European Conference on Computer Vision (ECCV)</font></strong>, Glasgow, UK, 2020 <strong><font color="#c23b3b">[Oral]</font></strong><font color="#2a2a2a">.</font> <strong><font color="#2a2a2a"><a href="https://arxiv.org/abs/2003.08440" target="_blank">(PDF)</a></strong></font>
				<br />
				Zhishuai Zhang,&nbsp;<strong>Wei Shen</strong>,&nbsp;Siyuan Qiao,&nbsp;Yan Wang,&nbsp;Bo Wang,&nbsp;Alan Yuille.&nbsp;Robust Face Detection via Learning Small Faces on Hard Images.&nbsp;<strong>IEEE Winter Conference on Applications of Computer Vision (WACV),&nbsp;</strong>Colorado, USA, 2020</font><font color="#444444">.</font><strong>&nbsp;</strong><a href="https://arxiv.org/pdf/1811.11662.pdf" target="_blank">(PDF)</a><span>&nbsp;&nbsp;</span><br />&#8203;
				<br />
				Peng Tang,&nbsp;Xinggang Wang,&nbsp;Song Bai,&nbsp;<strong>Wei Shen</strong>,&nbsp;Xiang Bai,&nbsp;Wenyu Liu,&nbsp;Alan Yuille.&nbsp;PCL: Proposal Cluster Learning for Weakly Supervised Object Detection.&nbsp;</font><strong><font color="#2a2a2a">IEEE Trans. Pattern Analysis and Machine Intelligence</strong></font><font color="#2a2a2a"><font size="2">, 2019.&nbsp;</font></font><font size="2"><span style="font-weight:bold"><font color="#000000">&nbsp;</font></span><span style="color:rgb(34, 34, 34)"><a href="https://arxiv.org/abs/1807.03342" target="_blank">(PDF)</a></span></font>
				<br />
				Zhishuai Zhang, Siyuan Qiao, Cihang Xie,&nbsp;<strong>Wei Shen</strong>, Bo Wang, Alan Yuille.&nbsp;Single-Shot Object Detection with Enriched Semantics.&nbsp;&nbsp;<strong>IEEE Conference on Computer Vision and Pattern Recognition (CVPR)</strong>,&nbsp;Salt Lake City, USA, 2018.</font><strong><span style="color:rgb(34, 34, 34)">&nbsp;</span></strong><span style="color:rgb(34, 34, 34)"><a href="https://arxiv.org/abs/1712.00433" target="_blank">(PDF)</a></span></font>
				<br />
				Kai Zhao,&nbsp;<strong>Wei Shen</strong>,&nbsp;Shanghua Gao, Dandan Li, Ming-Ming Cheng.&nbsp;Hi-Fi: Hierarchical Feature Integration for Skeleton Detection.&nbsp;<strong>&#8203;</strong></font><span style="font-weight:bold"><font color="#2a2a2a">International Joint Conference on Artificial Intelligence (IJCAI),&nbsp;</font></span><font color="#2a2a2a">Stockholm, Sweden, 2018.&nbsp;<a href="https://arxiv.org/abs/1801.01849" target="_blank">(PDF)</a></font>
				<br /><br />
				Wei Shen</strong>, Kai Zhao, Yuan Jiang, Yan Wang, Xiang Bai, Alan Yuille.&nbsp;</font><span style="color:rgb(0, 0, 0)">DeepSkeleton: Learning Multi-task Scale-associated Deep Side Outputs for Object Skeleton Extraction in Natural Images.&nbsp;<strong>IEEE Trans. Image Processing</strong>,</span></font><font color="#2a2a2a"><font size="2">&nbsp;2017.&nbsp;<a href="https://arxiv.org/abs/1609.03659" target="_blank">(PDF)</a></font></font>
				<br /><br />
				Siyuan Qiao,&nbsp;<strong>Wei She</strong><strong>n</strong>,&nbsp;Weichao Qiu,&nbsp;Chenxi Liu,&nbsp;Alan Yuille.&nbsp;</font><font color="#2a2a2a">ScaleNet: Guiding Object Proposal Generation in&nbsp;Supermarkets and Beyond.</font>&nbsp;<strong><font color="#2a2a2a">IEEE International Conference on Computer Vision (ICCV)</font></strong><font color="#2a2a2a"><span style="font-weight:bold">,</span></font><strong><font color="#2a2a2a">&nbsp;</font></strong><font color="#2a2a2a">Venice, Italy, 2017</font><font color="#2a2a2a">.</font>&nbsp;</font><font color="#ae40a5"><a href="https://arxiv.org/abs/1704.06752" target="_blank"><font color="#ae40a5"><font size="2">(PDF)</font></font></a></font>
				<br /><br />
				<strong>Wei Shen</strong>, Kai Zhao, Yuan Jiang, Yan Wang, Zhijiang Zhang, Xiang Bai. Object Skeleton Extraction in Natural Images by Fusing Scale-associated Deep Side Outputs.&nbsp;</span><strong style="color:rgb(42, 42, 42)">IEEE Conference on Computer Vision and Pattern Recognition (CVPR)</strong><span style="color:rgb(42, 42, 42)">, Las Vegas, USA, 2016.&nbsp;<a href="/uploads/2/3/8/2/23825939/deepskeleton_web.pdf">(PDF)</a></span>
				<br /><br />&#8203;<span style="color:rgb(42, 42, 42)">Zheng Zhang, Chenquan Zhang,&nbsp;</span><strong style="color:rgb(42, 42, 42)">Wei Shen</strong><span style="color:rgb(42, 42, 42)">, Cong Yao, Wenyu Liu, Xiang Bai. Multi-Oriented Text Detection with Fully Convolutional Networks.&nbsp;</span><strong style="color:rgb(42, 42, 42)">IEEE Conference on Computer Vision and Pattern Recognition (CVPR)</strong><span style="color:rgb(42, 42, 42)">, Las Vegas, USA, 2016.&nbsp;</span><a href="/uploads/2/3/8/2/23825939/cvpr_fcn_text.pdf">(PDF)</a>
				<br /><br /><span style="color:rgb(42, 42, 42)"><strong>Wei Shen</strong></span><font color="#2a2a2a">, Xiang Bai, Zihao Hu, Zhijiang Zhang. Multiple Instance Subspace Learning via Partial Random Projection Tree for Local Reflection Symmetry in Natural Images.&nbsp;</font><strong style="color:rgb(42, 42, 42)">Pattern Recognition,</strong><font color="#2a2a2a">&nbsp;52(4)</font><font><font style="color:rgb(42, 42, 42)"><font color="#2a2a2a">: 306-316, 2016</font></font><font color="#2a2a2a">.&nbsp;<a href="/uploads/2/3/8/2/23825939/pr_symmetrydetection.pdf">(PDF)</a></font></font>
				<br /><br /><strong><font color="#2a2a2a">Wei Shen</font></strong><span><a><font color="#2a2a2a">, Xinggang Wang, Yan Wang, Xiang Bai, Zhijiang Zhang. DeepContour: A Deep Convolutional Feature Learned by Positive-sharing Loss for Contour Detection.&nbsp;<strong>IEEE Conference on Computer Vision and Pattern Recognition (CVPR)</strong>, Boston, USA, 2015.</font></a></span><font color="#c23b3b" size="4"><font color="#2a2a2a">&nbsp;<font size="2"><a href="/uploads/2/3/8/2/23825939/deepcontour.pdf" target="_blank">(PDF)</a>&nbsp;
				<br />&#8203;</font></font></font><br /><span style="color:rgb(42, 42, 42)">Zheng Zhang,&nbsp;</span><strong style="color:rgb(42, 42, 42)">Wei Shen</strong><span style="color:rgb(42, 42, 42)">, Cong Yao, Xiang Bai. Symmetry-Based Text Line Detection in Natural Scenes.&nbsp;</span><span style="color:rgb(42, 42, 42)">&#65279;</span><strong style="color:rgb(42, 42, 42)">IEEE Conference on Computer Vision and Pattern Recognition (CVPR)</strong><span style="color:rgb(42, 42, 42)">&#65279;</span><span style="color:rgb(42, 42, 42)">, Boston, USA, 2015.&nbsp;</span><a href="/uploads/2/3/8/2/23825939/symmetrytext.pdf" target="_blank">(PDF)</a>
                </p>
            </td>
        </tr> <!--li2020shapetexture-->



	
</html>
