---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

<html>
<head>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <title>Teaching</title>
</head>
<body>
2020-2021 Academic Year:<br>
2020 Fall, <a href="https://sites.google.com/site/ucsdcogs185fall2020/">UCSD
COGS 185</a>, Advanced Machine Learning
Methods(undergraduate)<br>
<br>
2019-2020 Academic Year:<br>
2020 Spring, <a
 href="https://sites.google.com/site/ucsdcogs181spring2020/">UCSD COGS
181</a>, Neural Networks and Deep Learning (undergradute)<br>
2020 Spring, <a
 href="https://sites.google.com/site/ucsdcogs225spring2020/">UCSD COGS
225</a>, Image Recognition (graduate)<br>
2020 Winter, <a
 href="https://sites.google.com/site/ucsdcogs118awinter2020/">UCSD COGS
118A</a>, Supervised
Machine Learning Algorithms
(undergraduate).<br>
<br>
2018-2019 Academic Year:<br>
2018 Fall, UCSD COGS 118A, Introduction
to machine learning I (undergraduate).<br>
2019 Spring, UCSD COGS 181 Neural
Networks and Deep Learning
(undergraduate)<br>
2019 Spring, UCSD COGS 118A, Supervised
Machine Learning Algorithms
(undergraduate).<br>
<br>
2017-2018 Academic Year<br>
2018, Spring UCSD COGS 260, Image Recognition (graduate)<br>
2018, Spring UCSD COGS 185, Advanced Machine Learning
Methods(undergraduate)<br>
2018, Winter, UCSD COGS 118A, Introduction to machine learning I
(undergraduate)<br>
2017, Fall, UCSD COGS 181, Neual Networks and Deep Learning
(undergraduate)<br>
<br>
2015-2016 Academic Year<br>
2017, Spring, UCSD COGS 260: Image Recognition (graduate)<br>
2017, Spring, UCSD COGS 118A, Introduction to machine learning I
(undergraduate)<br>
2017, Winter, UCSD COGS 181, Neural Networks and Deep Learning
(undergraduate): an introductory course to neural networks.<br>
<br>
<br>
2015-2016 Academic Year:<br>
2015 Fall, UCSD COGS 109,&nbsp; Modeling and Data Analysis
(undergraduate): a core computation course in cognitive science<br>
2016 Winter, UCSD COGS 118A, Natural Computation I (undergraduate): an
introductory course to machine learning.<br>
2016 Spring, UCSD COGS 260, Image Recognition (a big data course for
graduate students in social sciences)<br>
2016 Spring, UCSD COGS 185 Advanced Machine Learning Methods
(undergraduate)<br>
<br>
<br>
2014-2015 Academic Year:<br>
2014 Fall, UCSD COGS 1, Introduction to Cognitive Science
(undergraduate)<br>
2015 Winter, UCSD COGS 118A, Natural Computation I (undergraduate): an
introductory course to machine learning.<br>
2015 Spring, UCSD COGS 225, Visual Computing (graduate): about low-,
mid-, and high-level applications in computer vision.<br>
2015 Spring, UCSD COGS 185 Advanced Machine Learning Methods
(undergraduate)<br>
</body>
</html>